/* @define-color bg #1e1e2e; */
/* @define-color text #cdd6f4; */
/* @define-color accent #89b4fa; */
@define-color bg @theme_base_color;
@define-color text @theme_text_color;
@define-color accent #89b4fa;

* {
  font-family: 'JetBrainsMono Nerd Font';
  font-weight: bold;
  font-size: 12px;
}

window#waybar {
  background: alpha(@bg, 0);
  color: @text;
}

.modules-center,
#tray,
#backlight,
#battery,
#network,
#pulseaudio,
#clock,
#custom-spotify,
#hardware {
  background: alpha(@bg, 0.8);
}

.modules-center,
#clock,
#custom-spotify,
#hardware {
  border-radius: 4px;
}

#tray {
  border-radius: 4px 0 0 4px;
  padding-left: 6px;
}

#pulseaudio,
#custom-pacman {
  border-radius: 0 4px 4px 0;
}

.modules-left label.module,
.modules-right label.module {
  padding: 0 3px;
}

#clock {
  margin-left: 4px;
  padding: 0 6px;
}

#pulseaudio {
  padding-right: 6px;
}

#custom-spotify,
#hardware {
  padding: 0 4px;
}

#custom-spotify {
  margin-left: 4px;
}

#workspaces button {
  border-radius: 4px;
  margin: 2px;
  padding: 0 2px;
  min-height: 0;
}

#workspaces button.active {
  color: @bg;
  background-color: @text;
}
